/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/robot_dreams_homeworks.iml
/.idea/shelf/Uncommitted_changes_before_Update_at_19_12_2022_0_08_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_19_12_2022_0_08__Changes_.xml
/.idea/vcs.xml
/workspace.py
/.idea/workspace.xml
/workspace 2.py
